:root{
    --highlight: #0193DE;
    --border: #ACACAC;
}

* {
    margin: 0;
    padding: 0;
}

header{
    height: 315px;
    width: 2560px;
    display: flex;
}

#logo{
    width: 251px;
    height: 187px;
    margin-top: 35px;
    margin-left: 55px;
}

#searchcats_container{
    margin-left: 210px;
    margin-top: 82px;
}

#search{
    width: 1531px;
    height: 85px;
    border-style: solid;
    border-width: 4px;
    border-color: var(--highlight);
    border-radius: 80px;
}

#cats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1526px;
    height: 44px;
    margin-top: 55px;
}

#cats p{
    font-size: 36px;
}

#personal_menu{
    width: 303px;
    height: auto;
    margin-left: 99px;
    margin-top: -55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#personal_menu img{
    width: 68px;
    height: 68px;
}

#hor_slider_background{
    width: 2560px;
    height: 626px;
}

body{
    display: flex;
    flex-direction: column;
}

#filter{
    width: 1983px;
    height: 255px;
    margin-left: 326px;
}

#card_container{
    width: 1978px;
    height: auto;
    margin-top: 39px;
    margin-left: 291px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 174px;
}

.card{
    width: 459px;
    height: 778px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--border);
    display: flex;
    flex-direction: column;
}

.card img{
    width: 459px;
    height: 469px;
}

.card_text{
    width: auto;
    height: 309px;
    padding-left: 21px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.card_text p{
    font-size: 32px;
}

.add_to_cart{
    width: 115px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
    background-color: var(--highlight);
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    border-color: black;
}

footer{
    width: auto;
    height: 642px;
    background-color: #1551E5;
    display: flex;
    justify-content: space-around;
    padding-top: 46px;
    margin-top: 123px;
}

footer h1{
    color: white;
    font-size: 28px;
}

footer a{

}